<DOCTYPE html />
<!--Change Log Page-->
<html lang="en">
<head>
    @section scripts{
        <script src="~/Scripts/knockout-3.5.1.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.timepicker.min.js"></script>
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
        <script src="~/Scripts/wysiwyg.min.js"></script>
        <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
        <link href="~/App/ButtonStyles.css" rel="stylesheet" />
        <link href="~/App/TableStyles.css" rel="stylesheet" />
        <link href="~/App/ModalStyles.css" rel="stylesheet" />
        <link href="~/App/PageStyles.css" rel="stylesheet" />
        <script src="~/App/GlobalFunctions/Data-Traversal.js"></script>
        <script src="~/App/CustomBindings.js"></script>
        <script src="~/App/GlobalFunctions/Notifications.js"></script>
        <script src="~/App/ChangeLogsClientCode/ChangeLogsJS.js"></script>

    }
</head>
<body id="bodyContent">
    <!--ko if: loadingPage-->
    <div id="loadingText"></div>
    <div id="loadingDiv" class="loading-class"></div>
    <!-- /ko-->
    <div id="header" style="text-align: center">
        <h3>Change Logs</h3>
    </div>
    <div id="pageBody" class="clPage-body">
        <div id="firstPage" class="row">
            <div class="clPage-left-pane">
                <table id="clTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="fancy-header">CL#</th>
                            <th class="fancy-header">Date and Time</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.sortedChangeLogs()">
                        <tr class="table-on-hover" data-bind="click: $root.select, css: { rowSelect: $root.selectedCL() === $data }">
                            <td data-bind="text: noteVisID"></td>
                            <td data-bind="fullDateTime: noteDateTime"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- ko if: loadingBody -->
            <div id="paneLoadingDiv" class="loading-class-for-pane clPage-right-pane"></div>
            <!-- /ko -->
            <!--ko ifnot: loadingBody -->
            <div class="clPage-right-pane" data-bind="if: $root.changeLogBody">
                <content id="previewWindow" data-bind="html: changeLogBody().body"></content>
            </div>
            <!-- /ko-->
        </div>
        <div id="secondPage" class="row" data-bind="foreach: $root.editorCL">
            <h4>New change log...</h4>
            <textarea id="textEditor" data-bind="wysiwyg: body" style="width: 100%"></textarea>
        </div>
    </div>
    <div id="pageFooter" class="clPage-footer">
        <div id="firstFooter">
            <button class="btn btn-sm btn-primary" data-bind="click: $root.newChangeLog">
                <i class="fa fa-plus-circle"></i>
                <span>New Change Log</span>
            </button>
            <button class="btn btn-sm btn-secondary" data-bind="click: $root.edit">
                <i class="fa fa-edit"></i>
                <span>Edit</span>
            </button>
        </div>
        <div id="secondFooter">
            <button class="btn btn-sm btn-primary" data-bind="click: $root.submitCL">
                <i class="fa fa-save"></i>
                <span>Submit</span>
            </button>
            <button class="btn btn-sm btn-danger" data-bind="click: $root.cancel">
                <i class="fa fa-times-circle"></i>
                <span>Cancel</span>
            </button>
        </div>
        <div id="editFooter">
            <button class="btn btn-sm btn-primary" data-bind="click: $root.saveEditCL, enable: $root.enableEditSave">
                <i class="fa fa-save"></i>
                <span>Save Changes</span>
            </button>
            <button class="btn btn-sm btn-danger" data-bind="click: $root.cancel">
                <i class="fa fa-times-circle"></i>
                <span>Cancel</span>
            </button>
        </div>
    </div>
</body>
</html>