
/*Navbar styles*/
.navbar-text {
    color: azure;
    
}

.nav-style {
    padding-top: 0px;
    width: 100%;
    
}

/*Body styles*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 50px !important;
    padding-right: 50px !important;
    margin-left: 0px;
    margin-right: 0px;
}

