<!DOCTYPE html>

<!--New Deploy page-->

<html lang="en">
<head>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section scripts{
        <script src="~/Scripts/knockout-3.5.1.js"></script>
        <script src="~/Scripts/knockout.mapping-latest.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <link href="~/App/PageStyles.css" rel="stylesheet" />
        <link href="~/App/ButtonStyles.css" rel="stylesheet" />
        <link href="~/App/BodyStyles.css" rel="stylesheet" />
        <link href="~/App/ModalStyles.css" rel="stylesheet" />
        <link href="~/App/TableStyles.css" rel="stylesheet" />
        <script src="~/App/CustomBindings.js"></script>
        <script src="~/App/NewDeployClientCode/NewDeployJS.js"></script>
        <script src="~/App/GlobalFunctions/Notifications.js"></script>
    }
</head>
<body>
    <form id="FieldsForm" class="jumbotron">
        <div>
            <h2 style="text-align: center">New Deploy</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Version</th>
                        <th>Environment</th>
                        <th>Planned Date</th>
                        <th>Planned Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select id="txtFeature" name="txtFeature" data-bind="options: $root.featureList, optionsText: 'feaName', optionsValue: 'feaName', value: $root.feature"></select>
                        </td>
                        <td>
                            <input data-bind="value: $root.version" type="text" id="txtVersion" name="txtVersion" class="table" />
                        </td>
                        <td>
                            <select id="txtEnvironment" name="txtEnvironment" data-bind="options: $root.environmentList,
                                                                                            optionsText: 'envName',
                                                                                            optionsValue: 'envName',
                                                                                            value: $root.environment"></select>
                        </td>
                        <td>
                            <input data-bind="datepicker: $root.plannedDateTime, datepickerOptions: { minDate: new Date() }" id="txtPlannedDate" name="txtPlannedDate" class="table" />
                        </td>
                        <td>
                            <input type="time" id="txtPlannedTime" name="txtPlannedTime" class="table" data-bind="timepickerInput: $root.plannedDateTime" />
                        </td>
                        <td>
                            <input type="text" id="txtStatus" class="table" value="Queued" disabled />
                        </td>
                        <td>
                            <button id="btnAdd" class="btn btn-sm btn-success" data-bind="click: $root.add">
                                <i class="fa fa-plus"></i>
                                <span>Add Deploy</span>
                            </button>
                        </td>
                        <td>
                            <button id="btnAddMasterNote" class="btn btn-sm btn-info" data-bind="click: $root.openCLModal">
                                <i class="fa fa-plus"></i>
                                <span id="masterNoteText">Add Change Log</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="timeviewerdiv">
            <h4 style="text-align:center">Time:</h4>
            <span id="timeVal" data-bind="text: $root.plannedDateTime" style="text-align:center"></span>
        </div>
    </form>
    <br />
    <hr />
    <div id="DataTable">
        <table class="table" id="DeploysTable">
            <thead>
                <tr>
                    <th>Feature</th>
                    <th>Version</th>
                    <th>Environment</th>
                    <th>Planned Date</th>
                    <th>Planned Time</th>
                    <th>Status</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: deploys" class="table">
                <tr data-bind="template: {name: $root.displayMode, data: $data }" class="table"></tr>
            </tbody>
        </table>
    </div>
    <div id="submitDiv">
        <button class="btn btn-primary" data-bind="click: $root.submit">Submit</button>
    </div>
    <!--Change Log Modal-->
    <div id="clModal" class="modal change-log-modal" role="dialog" tabindex="-1">
        <div class="change-log-modal-content">
            <!--Header-->
            <div class="change-log-modal-header">
                <span class="close" data-bind="click: $root.closeCLModal">&times;</span>
                <h4 id="clModalHeader">Change Logs</h4>
            </div>
            <!--Body-->
            <div id="clModalBody" class="change-log-modal-body">
                <div id="clPage1">
                    <div class="row">
                        <div class="cl-modal-left-div">
                            <div class="cl-table-div">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr><td><h5>CLID#</h5></td><td><h5>Date and Time</h5></td></tr>
                                    </thead>
                                    <tbody data-bind="foreach: notes">
                                        <tr class="table table-on-hover">
                                            <td data-bind="text: noteID"></td>
                                            <td data-bind="dateFormatted: noteDateTime, 
                                                            format: 'LLL',
                                                            click: $root.selectCL"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="cl-modal-right-div">
                            <h4 style="text-align:center">Preview</h4>
                            <content class="cl-modal-right-preview">
                                <span id="clPreview"></span>
                            </content>
                        </div>
                    </div>
                </div>
                <div id="clPage2">
                    <textarea id="clTextEditor" class="cl-text-area" cols="50"></textarea>
                </div>
            </div>
            <!--Footer-->
            <div id="clModalFooter" class="change-log-modal-footer">
                <div id="clFooter1">
                    <button class="btn btn-sm btn-primary" data-bind="click: $root.newCL">
                        <i class="fa fa-plus-circle"></i>
                        <span>New Change Log</span>
                    </button>
                    <button class="btn btn-sm btn-secondary" data-bind="click: $root.closeCLModal">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                </div>
                <div id="clFooter2">
                    <button class="btn btn-sm btn-info" data-bind="click: $root.directToFirstPage">
                        <i class="fa fa-arrow-circle-left"></i>
                        <span>Back</span>
                    </button>
                    <button class="btn btn-sm btn-primary" data-bind="click: $root.submitCL">
                        <i class="fa fa-check-circle"></i>
                        <span>Submit</span>
                    </button>
                    <button class="btn btn-sm btn-secondary" data-bind="click: $root.cancelCL">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Read template for table-->
    <script id="read-template" type="text/html">
        <td data-bind="text: depFeature"></td>
        <td data-bind="text: depVersion"></td>
        <td data-bind="text: depEnvironment"></td>
        <td data-bind="dateFormatted: depPlannedDateTime, format: 'MMMM DD YYYY'"></td>
        <td data-bind="timeFormatted: depPlannedDateTime, format: 'LT'"></td>
        <td data-bind="text: depStatus"></td>
        <td>
            <a class="btn btn-light" data-bind="click: $root.edit">Edit</a>
        </td>
    </script>
    <!--Edit template for table-->
    <script id="edit-template" type="text/html">
        <td>
            <select id="ctlFeature" name="ctlFeature" data-bind="options: $root.featureList, optionsText: 'feaName', optionsValue: 'feaName', value: depFeature"></select>
        </td>
        <td>
            <input type="text" data-bind="value: depVersion" />
        </td>
        <td>
            <select id="ctlEnvironment" name="ctlEnvironment" data-bind="options: $root.environmentList, optionsText: 'envName', optionsValue: 'envName', value: depEnvironment"></select>
        </td>
        <td>
            <input id="ctlPlannedDate" type="text" data-bind="datepicker: depPlannedDateTime" />
        </td>
        <td>
            <input type="time" data-bind="timepickerInput: depPlannedDateTime" />
        </td>
        <td>
            <input type="text" data-bind="value: depStatus" disabled />
        </td>
        <td>
            <a class="btn btn-success" data-bind="click: $root.done">Done</a>
        </td>
    </script>
    <!--Empty template for data-->
    <script id="empty-template" type="text/html">
        <td>
            <h3 style="text-align: center">There are no added deploys yet...</h3>
        </td>
    </script>
    <div id="submitOverlay" class="success-overlay" style="width:0"></div>
    @Html.Hidden("Redirect", Url.Action("Index", "Developer"))
</body>
</html>
