<!DOCTYPE html>

<!--New Deploy page-->

<html lang="en">
<head>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section scripts{
        <script src="~/Scripts/knockout-3.5.1.js"></script>
        <script src="~/Scripts/knockout.mapping-latest.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
        <script src="~/Scripts/wysiwyg.min.js"></script>
        <link href="~/App/PageStyles.css" rel="stylesheet" />
        <link href="~/App/ButtonStyles.css" rel="stylesheet" />
        <link href="~/App/BodyStyles.css" rel="stylesheet" />
        <link href="~/App/ModalStyles.css" rel="stylesheet" />
        <link href="~/App/TableStyles.css" rel="stylesheet" />
        <script src="~/App/GlobalFunctions/Data-Traversal.js"></script>
        <script src="~/App/CustomBindings.js"></script>
        <script src="~/App/NewDeployClientCode/NewDeployJS.js"></script>
        <script src="~/App/GlobalFunctions/Notifications.js"></script>
        <link href="~/App/NewDeployClientCode/NewDeployCSS.css" rel="stylesheet" />
    }
</head>
<body id="BodyContent">
    <form id="FieldsForm" class="jumbotron">
        <h2 style="text-align: center">New Deploy</h2>
        <div>
            <div class="nd-row-1">
                <table class="nd-table">
                    <thead class="nd-thead">
                        <tr class="nd-tr">
                            <th class="nd-th">Feature</th>
                            <th class="nd-th">Version</th>
                            <th class="nd-th">Environment</th>
                            <th class="nd-th">Planned Date</th>
                            <th class="nd-th">Planned Time</th>
                            <th class="nd-th">Status</th>
                        </tr>
                    </thead>
                    <tbody class="nd-tbody">
                        <tr class="nd-tr">
                            <td class="nd-td t1-td" data-title="Feature">
                                <select class="table" style="max-width: 100%" id="txtFeature" name="txtFeature" data-bind="options: $root.featureList, optionsText: 'feaName', optionsValue: 'feaName', value: $root.feature"></select>
                            </td>
                            <td class="nd-td t1-td">
                                <input data-bind="value: $root.version" type="text" id="txtVersion" name="txtVersion" class="table" />
                            </td>
                            <td class="nd-td t1-td">
                                <select id="txtEnvironment" name="txtEnvironment" class="table" data-bind="options: $root.environmentList,
                                                                                            optionsText: 'envName',
                                                                                            optionsValue: 'envName',
                                                                                            value: $root.environment"></select>
                            </td>
                            <td class="nd-td t1-td">
                                <input data-bind="datepicker: $root.plannedDateTime, datepickerOptions: { minDate: new Date() }" id="txtPlannedDate" name="txtPlannedDate" class="table" />
                            </td>
                            <td class="nd-td t1-td">
                                <input type="time" id="txtPlannedTime" name="txtPlannedTime" class="table" data-bind="timepickerInput: $root.plannedDateTime" />
                            </td>
                            <td class="nd-td t1-td">
                                <input type="text" id="txtStatus" class="table" value="Queued" disabled />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div align="right" class="nd-row-2" data-bind="with: $root.masterCL">
                <div>
                    <button id="btnAdd" class="btn btn-sm btn-success" data-bind="click: $root.add">
                        <i class="fa fa-plus"></i>
                        <span>Add Deploy</span>
                    </button>
                    <button id="btnAssignMasterNote" class="btn btn-sm btn-info" data-bind="click: function(data, type, index){$parent.openModalAndEval($data, 'master', '0', data, type, index)}">
                        <i class="fa fa-clipboard"></i>
                        <span id="masterNoteText" data-bind="text: $root.masterCL().noteID || 'Select a Change Log'"></span>
                    </button>
                    <button class="btn btn-sm btn-dark" data-bind="click: $root.removeSelection, enable: $root.masterCL().noteID >= 0">
                        <i class="fa fa-xing"></i>
                        <span>Remove Selected CL</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="timeviewerdiv" style="display: none">
            <h4 style="text-align:center">Time:</h4>
            <span id="timeVal" data-bind="text: $root.plannedDateTime" style="text-align:center"></span>
        </div>
    </form>
    <br />
    <hr />
    <div id="DataTable">
        <table class="nd-table" id="DeploysTable">
            <thead class="nd-thead">
                <tr class="nd-tr">
                    <th class="nd-th">Feature</th>
                    <th class="nd-th">Version</th>
                    <th class="nd-th">Environment</th>
                    <th class="nd-th">Planned Date</th>
                    <th class="nd-th">Planned Time</th>
                    <th class="nd-th">Status</th>
                    <th class="nd-th">CL#</th>
                    <th class="nd-th">...</th>
                </tr>
            </thead>
            <tbody class="nd-tbody" data-bind="foreach: deploys">
                <tr class="nd-tr" data-bind="template: {name: $parent.displayMode, data: $data }"></tr>
            </tbody>
        </table>
    </div>
    <div id="submitDiv" class="nd-page-footer">
        <button class="btn btn-primary" data-bind="click: $root.submit, enable: $root.deploys().length >= 1">Submit</button>
    </div>
    <!--Change Log Modal-->
    <div id="clModal" class="modal change-log-modal" role="dialog" tabindex="-1">
        <div class="change-log-modal-content">
            <!--Header-->
            <div class="change-log-modal-header">
                <span class="close" data-bind="click: $root.closeCLModal">&times;</span>
                <h4 id="clModalHeader">Change Logs</h4>
            </div>
            <!--Body-->
            <div id="clModalBody" class="change-log-modal-body">
                <!--Page 1-->
                <div id="clPage1">
                    <div class="row">
                        <div class="cl-modal-left-div">
                            <div class="cl-table-div">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr><td class="fancy-header">CLID#</td><td class="fancy-header">Date and Time</td></tr>
                                    </thead>
                                    <tbody data-bind="foreach: $root.sortedChangeLogs">
                                        <tr class="table table-on-hover" data-bind="click: $root.selectCL, css: { rowSelect: $root.selectedCL() === $data }">
                                            <td data-bind="text: noteID"></td>
                                            <td data-bind="dateFormatted: noteDateTime,
                                                            format: 'LLL'"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="cl-modal-right-div">
                            <h4 class="fancy-header" style="text-align: center" data-bind="text: $root.selectedCL().noteID"></h4>
                            <content class="cl-modal-right-preview">
                                <span id="clPreview" data-bind="html: $root.selectedCL().noteBody"></span>
                            </content>
                        </div>
                    </div>
                </div>
                <!--Page 2-->
                <div id="clPage2" data-bind="foreach: $root.noteBeingEdited">
                    <textarea id="clTextEditor1" data-bind="wysiwyg: noteBody" class="cl-text-area" cols="50"></textarea>
                    <div>
                        <label>noteBeingEdited().noteBody: </label>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <div id="clModalFooter" class="change-log-modal-footer">
                <div id="clFooter1">
                    <button class="btn btn-sm btn-primary" data-bind="click: $root.closeModalAndEval, enable: $root.selectedCL().noteID >= 0">
                        <i class="fa fa-check-circle"></i>
                        <span>Select</span>
                    </button>
                    <button class="btn btn-sm btn-warning" data-bind="click: $root.editCL, enable: $root.selectedCL().noteID >= 0">
                        <i class="fa fa-edit"></i>
                        <span>Edit</span>
                    </button>
                    <button class="btn btn-sm btn-info" data-bind="click: $root.newCL">
                        <i class="fa fa-plus-circle"></i>
                        <span>New Change Log</span>
                    </button>
                    <button class="btn btn-sm btn-secondary" data-bind="click: $root.closeCLModal">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                </div>
                <div id="clFooter2">
                    <button class="btn btn-sm btn-info" data-bind="click: $root.directToFirstPage">
                        <i class="fa fa-arrow-circle-left"></i>
                        <span>Back</span>
                    </button>
                    <button class="btn btn-sm btn-primary" data-bind="click: $root.submitCL">
                        <i class="fa fa-check-circle"></i>
                        <span>Submit</span>
                    </button>
                    <button class="btn btn-sm btn-secondary" data-bind="click: $root.cancelCL">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                </div>
                <div id="clFooter3">
                    <button id="btnEditSave" class="btn btn-sm btn-primary" data-bind="click: $root.saveEditCL, enable: $root.enableEditSave()">
                        <i class="fa fa-save"></i>
                        <span>Save</span>
                    </button>
                    <button class="btn btn-sm btn-secondary" data-bind="click: $root.cancelCL">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Read template for table-->
    <script id="read-template" type="text/html">
        <td class="nd-td t2-td" data-bind="text: depFeature"></td>
        <td class="nd-td t2-td" data-bind="text: depVersion"></td>
        <td class="nd-td t2-td" data-bind="text: depEnvironment"></td>
        <td class="nd-td t2-td" data-bind="dateFormatted: depPlannedDateTime, format: 'MMMM DD YYYY'"></td>
        <td class="nd-td t2-td" data-bind="timeFormatted: depPlannedDateTime, format: 'LT'"></td>
        <td class="nd-td t2-td" data-bind="text: depStatus"></td>
        <td class="nd-td t2-td">
            <button class="btn btn-sm btn-dark" disabled>
                <i class="fa fa-clipboard"></i>
                <span data-bind="text: noteID"></span>
            </button>
        </td>
        <td class="nd-td t2-td">
            <button class="btn btn-sm btn-light" data-bind="click: $root.edit">
                <i class="fa fa-clipboard"></i>
                <span>Edit</span>
            </button>
            <button class="btn btn-sm btn-danger" data-bind="click: $root.remove">
                <i class="fa fa-xing-square"></i>
                <span>Remove</span>
            </button>
        </td>
    </script>
    <!--Edit template for table-->
    <script id="edit-template" type="text/html">
        <td class="nd-td t2-td">
            <select id="ctlFeature" name="ctlFeature" style="max-width: 90%" data-bind="options: $root.featureList, optionsText: 'feaName', optionsValue: 'feaName', value: depFeature"></select>
        </td>
        <td class="nd-td t2-td">
            <input type="text" style="max-width: 90%" data-bind="value: depVersion" />
        </td>
        <td class="nd-td t2-td">
            <select id="ctlEnvironment" style="max-width: 90%" name="ctlEnvironment" data-bind="options: $root.environmentList, optionsText: 'envName', optionsValue: 'envName', value: depEnvironment"></select>
        </td>
        <td class="nd-td t2-td">
            <input id="ctlPlannedDate" style="max-width: 90%" type="text" data-bind="datepicker: depPlannedDateTime" />
        </td>
        <td class="nd-td t2-td">
            <input type="time" style="max-width: 90%" data-bind="timepickerInput: depPlannedDateTime" />
        </td>
        <td class="nd-td t2-td">
            <input type="text" style="max-width: 90%" data-bind="value: depStatus" disabled />
        </td>
        <td class="nd-td t2-td">
            <button class="btn btn-sm btn-info" data-bind="click: function(data, type, index){$root.openModalAndEval($data, 'edit', $parentContext.$index(), data, type, index)}">
                <i class="fa fa-clipboard"></i>
                <span data-bind="text: noteID"></span>
            </button>
            <button class="btn btn-sm btn-danger" data-bind="click: $root.removeCL, enable: $data.noteID() >= 0">
                <i class="fa fa-times"></i>
            </button>
        </td>
        <td class="nd-td t2-td">
            <a class="btn btn-sm btn-success" data-bind="click: $root.done">Done</a>
        </td>
    </script>
    <!--Empty template for data-->
    <script id="empty-template" type="text/html">
        <td class="nd-td t2-td">
            <h3 style="text-align: center">There are no added deploys yet...</h3>
        </td>
    </script>
    <div id="submitOverlay" class="success-overlay" style="width:0"></div>
    @Html.Hidden("Redirect", Url.Action("Index", "Developer"))
</body>
</html>
