
<!--Home Page-->
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        @section scripts{

            <script type="module" src="~/Scripts/popper.min.js"></script>
            <script src="~/Scripts/Daypilot/daypilot-all.min.js"></script>
            <script src="~/Scripts/moment.min.js"></script>
            <script src="~/App/HomeClientCode/HomeJS.js"></script>
            <link href="~/App/monthcalendartheme.css" rel="stylesheet" />
            <link href="../../App/HomeModal.css" rel="stylesheet" />
            
        }
    </head>
    <body>
        <div id="header" style="text-align:center; padding: 5px;">
            <h4>Month in Review</h4>
        </div>
        <div id="monthDiv" style="text-align:center">
            <span id="monthLabel" style="font-size: x-large; font-weight: bold"></span>
        </div>
        <div id="nav">
            <button id="previous" class="btn btn-primary" onclick="previousDate()">&lArr; Previous</button>
            <button id="next" class="btn btn-primary" onclick="nextDate()">Next &rArr;</button>
        </div>
        <div id="calendar"></div>

        <!-- Button trigger modal -->
        <button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#recordModal">
            Launch demo modal
        </button>
        <!-- Modal -->
        <div class="modal fade right" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span id="modalHeader"></span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="leftColumn" class="col">
                                <div class="border-bottom">
                                    <h5>Deploy Details</h5>
                                </div>
                                <!--ID Field-->
                                <label class="modal-label">ID: </label>
                                <span id="txtID"></span>
                                <br />
                                <!--Environment field-->
                                <label class="modal-label">Environment: </label>
                                <span id="txtEnvironment"></span>
                                <br />
                                <!--Planned Date Field-->
                                <label class="modal-label">Planned Date: </label>
                                <span id="txtPlannedDate"></span>
                                <br />
                                <!--Planned Time Field-->
                                <label class="modal-label">Planned Time: </label>
                                <span id="txtPlannedTime"></span>
                                <br />
                            </div>
                            <div id="rightColumn" class="col">
                                <div class="border-bottom">
                                    <h5>Status</h5>
                                </div>
                                <div id="divStart">
                                    <!--Start Time Field-->
                                    <label id="lblStartTime" class="modal-label">Start Time: </label>
                                    <span id="txtStartTime"></span>
                                    <br />
                                </div>
                                <div id="divEnd">
                                    <!--End Time Field-->
                                    <label id="lblEndTime" class="modal-label">End Time: </label>
                                    <span id="txtEndTime"></span>
                                    <br />
                                </div>
                                <!--Status Field-->
                                <label class="modal-label">Status: </label>
                                <span id="txtStatus"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col border border-secondary rounded">
                                <div style="text-align: center" class="border-bottom">
                                    <h5>Comments</h5>
                                </div>
                                <div id="divComment" style="text-align:center">
                                    <span id="txtComment"></span>
                                </div>
                                <div id="divCommentless" style="text-align:center">
                                    <span style="color:red">There are no comments to show...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->

    </body>


