<!DOCTYPE html>

<!--Dev Page-->

<html lang="en">
<head>

    @section scripts{
        <script src="~/Scripts/knockout-3.5.1.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.timepicker.min.js"></script>
        <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
        <link href="~/App/ButtonStyles.css" rel="stylesheet" />
        <link href="~/App/TableStyles.css" rel="stylesheet" />
        <link href="~/App/ModalStyles.css" rel="stylesheet" />
        <link href="~/App/PageStyles.css" rel="stylesheet" />
        <script src="~/App/CustomBindings.js"></script>
        <script src="~/App/DeveloperClientCode/DeveloperJS.js"></script>
        <script src="~/App/GlobalFunctions/Data-Traversal.js"></script>
        <script src="~/App/GlobalFunctions/Caching.js"></script>

    }
</head>
<body id="BodyContent">
    <div class="loading-class"></div>
    <!--Tables View-->
    <div id="TablesView">
        <div class="row">
            <!--Current and Queued Tables column-->
            <div class="dev-left-panel">
                <!------Current Deploys------------------------>
                <h3 style="text-align:center; width:100%">Current Deploys</h3>
                <!------Filter--------------------------------->
                <div class="filter-container" style="text-align: left">
                    <div class="filter-first">
                        <div style="text-align:left">
                            <span>Deploy Status: </span>
                            <select id="ctlCurrentType" data-bind="options: $root.typeArray,
                                                                    optionsText: 'text',
                                                                    value: $root.currentSelectedType,
                                                                    event: {change: $root.cacheCurrentType}"></select>
                        </div>
                    </div>
                    <div class="filter-second">
                        <div>
                            <span>Timespan: </span>
                            <select id="ctlCurrentTime" data-bind="options: $root.timeArray,
                                                                    optionsText: 'text',
                                                                    value: $root.currentSelectedTime,
                                                                    event: {change: $root.cacheCurrentTime}"></select>
                        </div>
                    </div>
                    <div class="filter-third">
                        <span>Contains: </span>
                        <input style="height: 25px" />
                    </div>
                </div>
                <br />
                <!--Current Deploys Table-->
                <div id="TableCurrent" style="overflow-x: auto">
                    <table class="table table-striped" id="CurrentDeploysTable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>Date</th>
                                <th>Feature</th>
                                <th class="column3">Version</th>
                                <th>Environment</th>
                                <th class="column1">Start Time</th>
                                <th class="column1">End Time</th>
                                <th class="column2">Status</th>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentDeploys().sort($root.sortByDate)" class="table">
                            <tr class="table-on-hover">
                                <!--ID field-->
                                <td style="display:none" data-bind="text: depID"></td>
                                <!--Date Field-->
                                <td style="font-weight:bold"
                                    data-bind="dateFormatted: depStartTime,
                                               format: 'MMMM Do'"></td>
                                <!--Feature field-->
                                <td data-bind="text: depFeature,
                                                event: { click: $root.edit},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Version field-->
                                <td class="column3"
                                    data-bind="text: depVersion,
                                                event: { click: $root.edit},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                'css-failed': depStatus() === 'Failed',
                                                'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Environment field-->
                                <td data-bind="text: depEnvironment,
                                                event: { click: $root.edit},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Start Time field-->
                                <td class="column1"
                                    data-bind="timeFormatted: depStartTime,
                                                format: 'h:mm a',
                                                event: { click: $root.edit},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--End Time field-->
                                <td class="column1"
                                    data-bind="timeFormatted: depEndTime,
                                                format: 'h:mm a',
                                                event: { click: $root.edit},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Status field-->
                                <td class="column2"
                                    data-bind='text: depStatus,
                                                event: { click: $root.edit},
                                                css: { "css-deploying": depStatus() === "Deploying",
                                                        "css-failed": depStatus() === "Failed",
                                                        "css-completed": depStatus() === "Completed"}'></td>
                                <!--Button control field-->
                                <td data-bind="css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}">
                                    <!--STATUS BUTTON-->
                                    <button id="btnStatusCurrent" class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-bind="click: $root.openModal">
                                        <i class="fa fa-tasks"></i>
                                        <span class="button-text">Update Status</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!------Queued Deploys------------------------->
                <h3 class="text-center">Queued Deploys</h3>
                <br />
                <div id="TableQueue" style="overflow-x:auto">
                    <table class="table" id="DevTable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>Feature</th>
                                <th class="column3">Version</th>
                                <th>Environment</th>
                                <th class="column1">Planned Date</th>
                                <th class="column1">Planned Time</th>
                                <th class="column2">Status</th>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody id="queuedTableBody" data-bind="foreach: queuedDeploys" class="table">
                            <tr class="table table-on-hover">
                                <td style="display:none" data-bind="text: depID"></td>
                                <td data-bind="text: depFeature, event: { click: $root.edit}"></td>
                                <td class="column3" data-bind="text: depVersion, event: { click: $root.edit}"></td>
                                <td data-bind="text: depEnvironment, event: { click: $root.edit}"></td>
                                <td class="column1" data-bind="dateFormatted: depPlannedDateTime, format: 'MMMM DD YYYY', event: { click: $root.edit}"></td>
                                <td class="column1" data-bind="timeFormatted: depPlannedDateTime, format: 'hh:mm a', event: { click: $root.edit}"></td>
                                <td class="column2" data-bind="text: depStatus, event: { click: $root.edit}"></td>
                                <td>
                                    <button id="btnStatusCurrent" class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-bind="click: $root.openModal">
                                        <i class="fa fa-tasks"></i>
                                        <span class="button-text">Update Status</span>
                                    </button>
                                    <button id="btnDeleteFromQueue" class="btn btn-sm btn-danger" type="button">
                                        <i class="fa fa-trash"></i>
                                        <span class="button-text">Remove</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Smoke queue TAB-->
            <div id="smokeTab" class="smoke-panel-tab">
                <button data-bind="click: toggleSmokeWindow" class="btn btn-sm btn-light">
                    <i id="smokeToggleButton" class="fa fa-angle-right" style="width:100%"></i>
                </button>
            </div>
            <!--Smoke queue column-->
            <div id="smokeWindow" class="dev-smoke-panel">
                <div class="smoke-panel-header">
                    <h3>Smoke Queue</h3>
                </div>
                <!------Filter--------------------------------->
                <div class="filter-container" style="text-align: left">
                    <div class="filter-first">
                        <div style="text-align:left">
                            <span>Deploy Status: </span>
                            <select id="ctlSmokeType" data-bind="options: $root.smokeArray,
                                                                    optionsText: 'text',
                                                                    value: $root.smokeSelectedType,
                                                                    event: {change: $root.cacheSmokeType}"></select>
                        </div>
                    </div>
                    <div class="filter-second">
                        <div>
                            <span>Timespan: </span>
                            <select id="ctlSmokeTime" data-bind="options: $root.timeArray,
                                                                    optionsText: 'text',
                                                                    value: $root.smokeSelectedTime,
                                                                    event: {change: $root.cacheSmokeTime}"></select>
                        </div>
                    </div>
                    <div class="filter-third">
                        <span>Contains: </span>
                        <input style="height: 25px" />
                    </div>
                </div>
                <br />
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>Feature</th>
                                <th>Version</th>
                                <th>Environment</th>
                                <th>Smoke Status</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: smokeDeploys().sort($root.sortByDate)">
                            <tr class="table table-on-hover">
                                <td style="display:none" data-bind="text: depID"></td>
                                <td data-bind="text: depFeature, 
                                                event: { click: $root.edit}, 
                                                css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                                        'css-smoke-conditional': depSmoke() === 'Conditional',
                                                        'css-smoke-fail': depSmoke() === 'Fail'}"></td>
                                <td data-bind="text: depVersion, 
                                                event: { click: $root.edit}, 
                                                css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                                        'css-smoke-conditional': depSmoke() === 'Conditional',
                                                        'css-smoke-fail': depSmoke() === 'Fail'}"></td>
                                <td data-bind="text: depEnvironment, 
                                                event: { click: $root.edit}, 
                                                css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                                        'css-smoke-conditional': depSmoke() === 'Conditional',
                                                        'css-smoke-fail': depSmoke() === 'Fail'}"></td>
                                <td data-bind="text: depSmoke, 
                                                event: { click: $root.edit}, 
                                                css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                                        'css-smoke-conditional': depSmoke() === 'Conditional',
                                                        'css-smoke-fail': depSmoke() === 'Fail'}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-------CURRENT TABLE TEMPLATES-------->
        <!--Read Template----------------------->
        <script id="read-template-c" type="text/html">
            <!--ID field-->
            <td style="display:none" data-bind="text: depID"></td>
            <!--Feature field-->
            <td data-bind="text: depFeature,
                        event: { click: $root.edit},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Version field-->
            <td class="column3"
                data-bind="text: depVersion,
                        event: { click: $root.edit},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Environment field-->
            <td data-bind="text: depEnvironment,
                        event: { click: $root.edit},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Start Time field-->
            <td class="column1"
                data-bind="timeFormatted: depStartTime,
                        format: 'h:mm a',
                        event: { click: $root.edit},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--End Time field-->
            <td class="column1"
                data-bind="timeFormatted: depEndTime,
                        format: 'h:mm a',
                        event: { click: $root.edit},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Status field-->
            <td class="column2"
                data-bind='text: depStatus,
                        event: { click: $root.edit},
                        css: { "css-deploying": depStatus() === "Deploying",
                                "css-failed": depStatus() === "Failed",
                                "css-completed": depStatus() === "Completed"}'></td>
            <!--Button control field-->
            <td data-bind="css: { 'css-deploying': depStatus() === 'Deploying',
                              'css-failed': depStatus() === 'Failed',
                              'css-completed': depStatus() === 'Completed'}">
                <!--STATUS BUTTON-->
                <button id="btnStatusCurrent" class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-bind="click: $root.openModal">
                    <i class="fa fa-tasks"></i>
                    <span class="button-text">Update Status</span>
                </button>
            </td>
        </script>
        <!--Edit Template----------------------->
        <script id="edit-template-c" type="text/html">

            <td style="display:none"><input type="text" data-bind="value: depID" /></td>
            <td><select id="ctlFeature" name="ctlFeature" data-bind="options: $root.feature, optionsText: 'feaName', optionsValue: 'feaName', value: depFeature"></select></td>
            <td><input type="text" data-bind="value: depVersion" /></td>
            <td>
                <select id="ctlEnvironment"
                        name="ctlEnvironment"
                        data-bind="options: $root.environment, optionsText: 'envName', optionsValue: 'envName', value: depEnvironment"></select>
            </td>
            <td><input type="text" data-bind="timeFormatted: depStartTime, format: 'LT'" disabled /></td>
            <td><input type="text" data-bind="timeFormatted: depEndTime, format: 'LT'" disabled /></td>
            <td><select type="text" data-bind="options: $root.status, optionsText: 'tmpStatus', optionsValue: 'tmpStatus', value: depStatus"> </select></td>
            <td><a class="btn btn-sm btn-success" data-bind="click: $root.done">Done</a></td>
        </script>
        <!--Locked Template--------------------->
        <script id="locked-template-c" type="text/html">

            <td style="display:none" data-bind="text: depID"></td>
            <td data-bind="text: depFeature"></td>
            <td class="column3" data-bind="text: depVersion"></td>
            <td data-bind="text: depEnvironment"></td>
            <td class="column1" data-bind="timeFormatted: depStartTime, format: 'LT'"></td>
            <td class="column1" data-bind="timeFormatted: depEndTime, format: 'LT'"></td>
            <td class="column2" data-bind="text: depStatus"></td>
            <td class="btn btn-sm btn-danger"><i class="fa fa-times"></i>Locked</td>
        </script>

        <!-------QUEUED TABLE TEMPLATES--------->
        <!--Read Template----------------------->
        <script id="read-template-q" type="text/html">

            <td style="display:none" data-bind="text: depID"></td>
            <td data-bind="text: depFeature, event: { click: $root.edit}"></td>
            <td class="column3" data-bind="text: depVersion, event: { click: $root.edit}"></td>
            <td data-bind="text: depEnvironment, event: { click: $root.edit}"></td>
            <td class="column1" data-bind="dateFormatted: depPlannedDateTime, format: 'MMMM DD YYYY', event: { click: $root.edit}"></td>
            <td class="column1" data-bind="timeFormatted: depPlannedDateTime, format: 'LT', event: { click: $root.edit}"></td>
            <td class="column2" data-bind="text: depStatus, event: { click: $root.edit}"></td>
            <td>
                <button id="btnStatusCurrent" class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-bind="click: $root.openModal">
                    <i class="fa fa-tasks"></i>
                    <span class="button-text">Update Status</span>
                </button>
                <button class="btn btn-sm btn-light" data-bind="click: $root.edit">
                    <i class="fa fa-edit"></i>
                    <span class="button-text">Edit</span>
                </button>
            </td>
        </script>
        <!--Edit Template----------------------->
        <script id="edit-template-q" type="text/html">

            <td style="display:none"><input type="text" data-bind="value: depID" /></td>
            <td><select id="ctlFeature" name="ctlFeature" data-bind="options: $root.feature, optionsText: 'feaName', optionsValue: 'feaName', value: depFeature"></select></td>
            <td><input type="text" data-bind="value: depVersion" /></td>
            <td>
                <select id="ctlEnvironment"
                        name="ctlEnvironment"
                        data-bind="options: $root.environment, optionsText: 'envName', optionsValue: 'envName', value: depEnvironment"></select>
            </td>
            <td><input type="date" data-bind="dateFormatted: depPlannedDateTime, format: 'YYYY-MM-DD'" /></td>
            <!--Planned Time-->
            <td>
                <input id="ctlPlannedTime"
                       name="ctlPlannedTime"
                       data-bind="timepickerInput: depPlannedDateTime, format: 'HH:mm'"
                       type="time" />
            </td>
            <td><select type="text" data-bind="options: $root.status, optionsText: 'tmpStatus', optionsValue: 'tmpStatus', value: depStatus"> </select></td>
            <td><a class="btn btn-sm btn-success" data-bind="click: $root.done">Done</a></td>
        </script>
        <!--Locked Template--------------------->
        <script id="locked-template-q" type="text/html">

            <td style="display:none" data-bind="text: depID"></td>
            <td data-bind="text: depFeature"></td>
            <td class="column3" data-bind="text: depVersion"></td>
            <td data-bind="text: depEnvironment"></td>
            <td class="column1" data-bind="dateFormatted: depPlannedDateTime, format: 'MMMM DD YYYY'"></td>
            <td class="column1" data-bind="timeFormatted: depPlannedDateTime, format: 'LT'"></td>
            <td class="column2" data-bind="text: depStatus"></td>
            <td class="btn btn-sm btn-danger"><i class="fa fa-times"></i>Locked</td>
        </script>

        <!-------SMOKE TABLE TEMPLATES-->
        <script id="read-template-s" type="text/html">
            <td style="display:none" data-bind="text: depID"></td>
            <td data-bind="text: depFeature, event: { click: $root.edit}"></td>
            <td data-bind="text: depVersion, event: { click: $root.edit}"></td>
            <td data-bind="text: depEnvironment, event: { click: $root.edit}"></td>
            <td data-bind="text: depSmoke, event: { click: $root.edit}"></td>
        </script>
    </div>
    <!--Notifications/Toasts-->
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Position it -->
        <div style="position: absolute; top: 90%; right: 90%;">
            <!-- Then put toasts within -->
            <div id="newDeployToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">New Deploy Batch</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    A new batch of deploys have been submitted. Refresh the browser to view them.
                </div>
            </div>
        </div>
    </div>
    <!--STATUS MODAL-->
    <div class="modal status-modal" id="statusModal">
        <div class="status-modal-content">
            <div class="status-modal-header" style="text-align: center">
                <h3>Select Status...</h3>
                <span class="close" data-bind="click: $root.closeModal">&times;</span>
            </div>
            <div id="mainContent" class="status-modal-body">
                <p>
                    <span>Change the status of </span>
                    <span id="spFeature" style="text-transform: uppercase; font-weight: bold"></span>
                    <span></span>
                    <span id="spVersion" style="text-transform: uppercase; font-weight: bold"></span>
                </p>
                <!--Status Drop-down-->
                <select id="ctlmodalStatus"
                        data-bind="options: $root.status, optionsText: 'tmpStatus', optionsValue: 'tmpStatus'"
                        onchange="checkStatus()"></select>

                <!--depID Field-->
                <p style="display: none">ID<input type="text" id="ctlmodalID" /></p>
                <!--ERROR status field-->
                <span id="errorStatusModalChange" style="text-align: center; color: red; display: none;"></span>

                <!--Smoke Drop-down-->
                <div id="smoke-div" style="display:none" class="status-modal-body">
                    <br />
                    <span>Ready for smoke pass?</span>
                    <br />
                    <select id="ctlSmokeStatus" data-bind="options: $root.smoke, optionsText: 'tmpSmoke', optionsValue: 'tmpSmoke'"></select>
                </div>
            </div>
            <!--Comment DIV(to become visible when status == 'Failed')-->
            <div id="commentBody" class="status-modal-comment" style="display: none">
                <p><span>Please enter a reason for failure</span></p>
                <textarea id="commentField" rows="10" cols="50"></textarea>
            </div>
            <div id="mainFooter" class="status-modal-footer" style="text-align: center">
                <button id="btnSubmitStatus" class="btn btn-success" data-bind="click: $root.submitStatus">Submit</button>
                <button id="btnCancel" class="btn btn-warning" data-bind="click: $root.closeModal">Cancel</button>
            </div>
        </div>
    </div>
    <!--Record/Edit Modal-->
    <div data-bind="modal: deployBeingEdited" class="modal fade right" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" data-bind="if: $root.deployBeingEdited()">
                <!--Main Header-->
                <div class="record-modal-header" id="recordModalHeader">
                    <span data-bind="text: deployBeingEdited().depFeature"></span>
                    <span data-bind="text: deployBeingEdited().depVersion"></span>
                </div>
                <div class="record-modal-header" data-bind="css: {'css-green': deployBeingEdited().depStatus() === 'Completed',
                                            'css-yellow': deployBeingEdited().depStatus() === 'Deploying',
                                            'css-red': deployBeingEdited().depStatus() === 'Failed',
                                            'css-white': deployBeingEdited().depStatus() === 'Queued'}">
                    <span>Deploy Status: </span>
                    <span data-bind="text: deployBeingEdited().depStatus" class="status-text"></span>
                </div>
                <!--Smoke Status Header-->
                <div class="record-modal-header" id="smokeHeader" data-bind="css: {'css-green': deployBeingEdited().depSmoke() === 'Pass',
                                                                                    'css-yellow': deployBeingEdited().depSmoke() === 'Conditional',
                                                                                    'css-red': deployBeingEdited().depSmoke() === 'Fail',
                                                                                    'css-white': deployBeingEdited().depSmoke() === 'Ready',
                                                                                    'css-white': deployBeingEdited().depSmoke() === 'Not Ready'}">
                    <span>Smoke Status: </span>
                    <span data-bind="text: deployBeingEdited().depSmoke" class="status-text"></span>
                </div>
                <!--Modal Container Body-->
                <form data-bind="submit: $root.done">
                    <div class="modal-body">
                        <div class="row">
                            <!--Details Body-->
                            <div class="col record-modal-col">
                                <table>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">ID</label></td>
                                        <td><input id="editID" type="text" data-bind="value: deployBeingEdited().depID" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">Feature</label></td>
                                        <td><select id="editFeature" data-bind="options: $root.feature,
                                                                                optionsText: 'feaName',
                                                                                optionsValue: 'feaName',
                                                                                value: deployBeingEdited().depFeature"></select></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">Version</label></td>
                                        <td><input id="editVersion" type="text" data-bind="value: deployBeingEdited().depVersion, valueUpdate: 'afterkeydown'" /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">Environment</label></td>
                                        <td><select id="editEnvironment" data-bind="options: $root.environment,
                                    optionsText: 'envName',
                                    optionsValue: 'envName',
                                    value: deployBeingEdited().depEnvironment"></select></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">Planned Date</label></td>
                                        <td><input id="editPlannedDate" type="text" data-bind="datepicker: deployBeingEdited().depPlannedDateTime" /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 20px"><label class="record-label">Planned Time</label></td>
                                        <td><input id="editPlannedTime" type="time" data-bind="timepickerInput: deployBeingEdited().depPlannedDateTime" /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">Start Time</label></td>
                                        <td><input type="time" data-bind="timeFormatted: deployBeingEdited().depStartTime, format: 'HH:mm'" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">End Time</label></td>
                                        <td><input type="time" data-bind="timeFormatted: deployBeingEdited().depEndTime, format: 'HH:mm'" disabled /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">Deploy Status</label></td>
                                        <td><select data-bind="options: $root.status,
                                    optionsText: 'tmpStatus',
                                    optionsValue: 'tmpStatus',
                                    value: deployBeingEdited().depStatus" disabled></select></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right: 3px"><label class="record-label">Smoke Status</label></td>
                                        <td><input type="text" data-bind="value: deployBeingEdited().depSmoke" disabled /></td>
                                    </tr>
                                </table>
                                
                            </div>
                            <!--Comments Body-->
                            <div class="col record-modal-col">
                                <h4 style="text-align: center">Comments:</h4>
                                <table class="table-comments">
                                    <tbody data-bind="foreach: commentsFiltered">
                                        <tr class="date-time-header">
                                            <td data-bind="fullDateTime: comDateTime" style="height: 2px">
                                                <span>by User: </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span data-bind="text: comBody"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="comment-button-div-1">
                                    <button class="btn btn-info btn-sm" style="text-align:center; width:100%" data-bind="click: newComment">
                                        <i class="fa fa-comment"></i>
                                        <span>New Comment</span>
                                    </button>
                                </div>
                                <div id="record-comment-text-field" style="display:none; width:100%; text-align:center">
                                    <textarea id="recordCommentField" rows="10" cols="10" style="width:100%; -moz-box-sizing:border-box; box-sizing: border-box"></textarea>
                                </div>
                                <div id="comment-button-div-2" class="status-modal-footer" style="display:none">
                                    <button class="btn btn-primary btn-sm" style="text-align:center; width:40%" data-bind="click: $root.submitComment">
                                        <i class="fa fa-cloud"></i>
                                        <span>Save</span>
                                    </button>
                                    <button class="btn btn-warning btn-sm" style="text-align:center; width:40%" data-bind="click: cancelComment">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="footerEditDisabled">
                            <button class="btn btn-warning btn-sm" data-bind="click: $root.enableEdit">Edit</button>
                            <button class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        </div>
                        <div id="footerEditEnabled">
                            <button type="button" data-bind="click: $root.cancelEdit" class="btn btn-danger btn-sm">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
