<!DOCTYPE html>

<!--Dev Page-->

<html lang="en">
<head>

    @section scripts{
        <script src="~/Scripts/knockout-3.5.1.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.timepicker.min.js"></script>
        <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
        <link href="~/App/ButtonStyles.css" rel="stylesheet" />
        <link href="~/App/TableStyles.css" rel="stylesheet" />
        <link href="~/App/ModalStyles.css" rel="stylesheet" />
        <link href="~/App/PageStyles.css" rel="stylesheet" />
        <script src="~/App/CustomBindings.js"></script>
        <script src="~/App/DeveloperClientCode/DeveloperJS.js"></script>
        <script src="~/App/GlobalFunctions/Data-Traversal.js"></script>
        <script src="~/App/GlobalFunctions/Caching.js"></script>
        <script src="~/App/GlobalFunctions/Notifications.js"></script>
        <script src="~/App/GlobalFunctions/PageRedirect.js"></script>

    }
</head>
<body id="BodyContent">
    <div class="loading-class"></div>
    <!--Tables View-->
    <div id="TablesView">
        <div class="row">
            <!--Current and Queued Tables column-->
            <div class="dev-left-panel">
                <!------Current Deploys------------------------>
                <h3 style="text-align:center; width:100%">Current Deploys</h3>
                <!------Filter--------------------------------->
                <div class="filter-container" style="text-align: left">
                    <div class="filter-first">
                        <div style="text-align:left">
                            <span>Deploy Status: </span>
                            <select id="ctlCurrentType" data-bind="options: $root.typeArray,
                                                                    optionsText: 'text',
                                                                    value: $root.currentSelectedType,
                                                                    event: {change: $root.cacheCurrentType}"></select>
                        </div>
                    </div>
                    <div class="filter-second">
                        <div>
                            <span>Timespan: </span>
                            <select id="ctlCurrentTime" data-bind="options: $root.timeArray,
                                                                    optionsText: 'text',
                                                                    value: $root.currentSelectedTime,
                                                                    event: {change: $root.cacheCurrentTime}"></select>
                        </div>
                    </div>
                    <div class="filter-third">
                        <span>Contains: </span>
                        <input style="height: 25px" />
                    </div>
                    <!--Dev Toolbar-->
                    <div class="dev-toolbar">
                        <button class="btn btn-sm btn-light" data-bind="click: $root.openQDModal">
                            <i class="fa fa-forward"></i>
                            <span>Quick Deploy</span>
                        </button>
                        <button class="btn btn-sm btn-info" onclick="redirectNewDeploy()">
                            <i class="fa fa-file"></i>
                            <span>New Deploy(s)</span>
                        </button>
                    </div>
                </div>
                <br />
                <!--Current Deploys Table-->
                <div id="TableCurrent" style="overflow-x: auto">
                    <table class="table table-striped" id="CurrentDeploysTable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th class="column3 fancy-header">Date</th>
                                <th class="fancy-header">Feature</th>
                                <th class="column2 fancy-header">Version</th>
                                <th class="fancy-header">Environment</th>
                                <th class="column1 fancy-header">Start Time</th>
                                <th class="column1 fancy-header">End Time</th>
                                <th class="fancy-header">Deploy Status</th>
                                <th class="fancy-header">Smoke Status</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: currentDeploys().sort($root.sortByDate)" class="table">
                            <tr class="table-on-hover">
                                <!--ID field-->
                                <td style="display:none" data-bind="text: depID"></td>
                                <!--Date Field-->
                                <td class="column3" style="font-weight:bold" data-bind="event: { click: $root.edit}, dateFormatted: depStartTime, format: 'MMMM Do'"></td>
                                <!--Feature field-->
                                <td data-bind="event: { click: $root.edit}, css: $root.rowColor($data)">
                                    <span data-bind="with: $root.featureFromID(feaID())">
                                        <span data-bind="text: feaName"></span>
                                    </span>
                                </td>
                                <!--Version field-->
                                <td class="column2" data-bind="text: depVersion, event: { click: $root.edit}, css: $root.rowColor($data)" style="word-wrap: break-word; max-width: 100px;"></td>
                                <!--Environment field-->
                                <td data-bind="with: $root.environmentFromID(envID()), event: { click: $root.edit}, css: $root.rowColor($data)">
                                    <span data-bind="text: envName"></span>
                                </td>
                                <!--Start Time field-->
                                <td class="column1" data-bind="timeFormatted: depStartTime, format: 'h:mm a', event: { click: $root.edit}, css: $root.rowColor($data)"></td>
                                <!--End Time field-->
                                <td class="column1" data-bind="timeFormatted: depEndTime, format: 'h:mm a', event: { click: $root.edit}, css: $root.rowColor($data)"></td>
                                <!--Status field w/ button-->
                                <td data-bind="css: $root.rowColor($data)">
                                    <button id="btnStatusCurrent" class="btn btn-sm btn-outline-dark" style="font-weight: bold" type="button" data-toggle="modal" data-bind="click: $root.openModal">
                                        <i data-bind="css: $root.statusIcon($data)"></i>
                                        <span data-bind="with: $root.statusFromID(statusID())">
                                            <span data-bind="text: statusName" class="button-text"></span>
                                        </span>
                                    </button>
                                </td>
                                <!--Smoke Status field-->
                                <td data-bind="event: { click: $root.edit}, css: $root.rowColor($data)">
                                    <i data-bind="css: $root.smokeIcon($data)"></i>
                                    <span data-bind="with: $root.smokeFromID(smokeID())">
                                        <span data-bind="text: smokeName"></span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divider"></div>
                <!------Queued Deploys------------------------->
                <h3 class="text-center">Deploy Queue</h3>
                <br />
                <div id="TableQueue" style="overflow-x:auto">
                    <table class="table" id="DevTable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th class="fancy-header">Feature</th>
                                <th class="column3 fancy-header">Version</th>
                                <th class="fancy-header">Environment</th>
                                <th class="column1 fancy-header">Planned Date</th>
                                <th class="column1 fancy-header">Planned Time</th>
                                <th class="column2 fancy-header">Status</th>
                                <th class="fancy-header">...</th>
                            </tr>
                        </thead>
                        <tbody id="queuedTableBody" data-bind="foreach: queuedDeploys" class="table">
                            <tr class="table table-on-hover">
                                <td style="display:none" data-bind="text: depID"></td>
                                <td data-bind="with: $root.featureFromID(feaID()), event: { click: $root.edit}">
                                    <span data-bind="text: feaName"></span>
                                </td>
                                <td class="column3" data-bind="text: depVersion, event: { click: $root.edit}" style="word-wrap: break-word; max-width: 100px;"></td>
                                <td data-bind="with: $root.environmentFromID(envID()), event: { click: $root.edit}">
                                    <span data-bind="text: envName"></span>
                                </td>
                                <td class="column1" data-bind="dateFormatted: depPlannedDateTime, format: 'MMMM DD YYYY', event: { click: $root.edit}"></td>
                                <td class="column1" data-bind="timeFormatted: depPlannedDateTime, format: 'hh:mm a', event: { click: $root.edit}"></td>
                                <td>
                                    <button id="btnStatusCurrent" class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-bind="click: $root.openModal">
                                        <i class="fa fa-tasks"></i>
                                        <span data-bind="with: $root.statusFromID(statusID())">
                                            <span class="button-text" data-bind="text: statusName"></span>
                                        </span>
                                    </button>
                                </td>
                                <td>
                                    <button id="btnDeleteFromQueue" class="btn btn-sm btn-danger" type="button" data-toggle="modal" data-bind="click: $root.openDeleteModal">
                                        <i class="fa fa-trash"></i>
                                        <span class="button-text">Remove</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Notifications/Toasts-->
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Position it -->
        <div style="position: absolute; top: 90%; right: 90%;">
            <!-- Then put toasts within -->
            <div id="newDeployToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">New Deploy Batch</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    A new batch of deploys have been submitted. Refresh the browser to view them.
                </div>
            </div>
        </div>
    </div>
    <!--STATUS MODAL-->
    <div class="modal status-modal" id="statusModal">
        <div class="status-modal-content">
            <div class="status-modal-header" style="text-align: center">
                <span class="close" data-bind="click: $root.closeModal">&times;</span>
                <h3>Select Status...</h3>
            </div>
            <div id="mainContent" class="status-modal-body">
                <!--Header-->
                <p>
                    <span>Change the status of </span>
                    <span data-bind="with: $root.featureFromID($root.statusModalFeature())">
                        <span data-bind="text: feaName" id="spFeature" style="text-transform: uppercase; font-weight: bold"></span>
                    </span>
                    <span data-bind="text: statusModalVersion" id="spVersion" style="text-transform: uppercase; font-weight: bold"></span>
                </p>
                <!--Status Drop-down-->
                <select id="ctlmodalStatus"
                        data-bind="options: $root.status, optionsText: 'statusName', optionsValue: 'statusID'"
                        onchange="checkStatus()"></select>

                <!--depID Field-->
                <p style="display: none">ID<input type="text" id="ctlmodalID" /></p>
                <!--ERROR status field-->
                <span id="errorStatusModalChange" style="text-align: center; color: red; display: none;"></span>
                <!--Smoke Drop-down-->
                <div id="smoke-div" style="display:none" class="status-modal-body">
                    <br />
                    <span>Ready for smoke pass?</span>
                    <br />
                    <select id="ctlSmokeStatus" data-bind="options: $root.smoke, optionsText: 'smokeName', optionsValue: 'smokeID'"></select>
                </div>
            </div>
            <!--Comment DIV(to become visible when status == 4)-->
            <div id="commentBody" class="status-modal-comment" style="display: none">
                <p><span>Please enter a reason for failure</span></p>
                <textarea id="commentField" rows="10" cols="50"></textarea>
            </div>
            <div id="mainFooter" class="status-modal-footer" style="text-align: center">
                <button id="btnSubmitStatus" class="btn btn-success" data-bind="click: $root.submitStatus">Submit</button>
                <button id="btnCancel" class="btn btn-warning" data-bind="click: $root.closeModal">Cancel</button>
            </div>
        </div>
    </div>
    <!--Record/Edit Modal-->
    <div data-bind="modal: deployBeingEdited" class="modal fade right" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" data-bind="if: $root.deployBeingEdited()">
                <!--Record Page-->
                <div id="recordPage">
                    <!--Main Header-->
                    <div class="record-modal-header" id="recordModalHeader">
                        <span data-bind="with: $root.featureFromID(deployBeingEdited().feaID())">
                            <span data-bind="text: feaName"></span>
                        </span>
                        <span data-bind="text: deployBeingEdited().depVersion"></span>
                    </div>
                    <div class="record-modal-header" data-bind="css: {'css-white': deployBeingEdited().statusID() === 3,
                                            'css-deploying': deployBeingEdited().statusID() === 2,
                                            'css-deploy-failed': deployBeingEdited().statusID() === 4,
                                            'css-white': deployBeingEdited().statusID() === 1}">
                        <span>Deploy Status: </span>
                        <span data-bind="with: $root.statusFromID(deployBeingEdited().statusID())" class="status-text">
                            <span data-bind="text: statusName"></span>
                        </span>
                    </div>
                    <!--Smoke Status Header-->
                    <div class="record-modal-header" id="smokeHeader" data-bind="css: {'css-green': deployBeingEdited().smokeID() === 3,
                                                                                    'css-yellow': deployBeingEdited().smokeID() === 4,
                                                                                    'css-red': deployBeingEdited().smokeID() === 5,
                                                                                    'css-white': deployBeingEdited().smokeID() === 2,
                                                                                    'css-white': deployBeingEdited().smokeID() === 1}">
                        <span>Smoke Status: </span>
                        <span data-bind="with: smokeFromID(deployBeingEdited().smokeID())" class="status-text">
                            <span data-bind="text: smokeName"></span>
                        </span>
                    </div>
                    <!--Modal Container Body-->
                    <form data-bind="submit: $root.done">
                        <div class="modal-body">
                            <div class="row">
                                <!--Details Body-->
                                <div class="col record-modal-col">
                                    <table>
                                        <tr>
                                            <!--ID-->
                                            <td style="padding-right: 3px"><label class="record-label">ID</label></td>
                                            <td><input id="editID" type="text" data-bind="value: deployBeingEdited().depID" disabled /></td>
                                        </tr>
                                        <tr>
                                            <!--Feature-->
                                            <td style="padding-right: 3px"><label class="record-label">Feature</label></td>
                                            <td>
                                                <select id="editFeature" data-bind="options: $root.feature,
                                                                                optionsText: 'feaName',
                                                                                optionsValue: 'feaID',
                                                                                value: deployBeingEdited().feaID"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!--Version-->
                                            <td style="padding-right: 3px"><label class="record-label">Version</label></td>
                                            <td><input id="editVersion" type="text" data-bind="value: deployBeingEdited().depVersion, valueUpdate: 'afterkeydown'" /></td>
                                        </tr>
                                        <tr>
                                            <!--Environment-->
                                            <td style="padding-right: 3px"><label class="record-label">Environment</label></td>
                                            <td>
                                                <select id="editEnvironment" data-bind="options: $root.environment,
                                                                                    optionsText: 'envName',
                                                                                    optionsValue: 'envID',
                                                                                    value: deployBeingEdited().envID"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!--Planned Date-->
                                            <td style="padding-right: 3px"><label class="record-label">Planned Date</label></td>
                                            <td><input id="editPlannedDate" type="text" data-bind="datepicker: deployBeingEdited().depPlannedDateTime" /></td>
                                        </tr>
                                        <tr>
                                            <!--Planned Time-->
                                            <td style="padding-right: 20px"><label class="record-label">Planned Time</label></td>
                                            <td><input id="editPlannedTime" type="time" data-bind="timepickerInput: deployBeingEdited().depPlannedDateTime" /></td>
                                        </tr>
                                        <tr>
                                            <!--Start Time-->
                                            <td style="padding-right: 3px"><label class="record-label">Start Time</label></td>
                                            <td><input type="time" data-bind="timeFormatted: deployBeingEdited().depStartTime, format: 'HH:mm'" disabled /></td>
                                        </tr>
                                        <tr>
                                            <!--End Time-->
                                            <td style="padding-right: 3px"><label class="record-label">End Time</label></td>
                                            <td><input type="time" data-bind="timeFormatted: deployBeingEdited().depEndTime, format: 'HH:mm'" disabled /></td>
                                        </tr>
                                        <tr>
                                            <!--Deploy Status-->
                                            <td style="padding-right: 3px"><label class="record-label">Deploy Status</label></td>
                                            <td>
                                                <select data-bind="options: $root.status,
                                                                optionsText: 'statusName',
                                                                optionsValue: 'statusID',
                                                                value: deployBeingEdited().statusID" disabled></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <!--Smoke Status-->
                                            <td style="padding-right: 3px"><label class="record-label">Smoke Status</label></td>
                                            <td>
                                                <select id="editSmoke" data-bind="options: $root.smoke,
                                                               optionsText: 'smokeName',
                                                                optionsValue: 'smokeID',
                                                                value: deployBeingEdited().smokeID" disabled />
                                            </td>
                                        </tr>
                                        <!--Change Log-->
                                        <tr>
                                            <td><label class="record-label">Change-log: </label></td>
                                            <td>
                                                <button data-bind="click: $root.directToNotePage, enable: deployBeingEdited().noteID() != null" class="btn btn-sm btn-info">
                                                    <i class="fa fa-clipboard"></i>
                                                    <span data-bind="with: $root.noteFromID($root.deployBeingEdited().noteID())">
                                                        <span data-bind="text: noteVisID"></span>
                                                    </span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!--Comments Body-->
                                <div class="col record-modal-col">
                                    <h4 style="text-align: center">Comments:</h4>
                                    <table class="table-comments">
                                        <tbody data-bind="foreach: commentsFiltered">
                                            <tr class="date-time-header">
                                                <td data-bind="fullDateTime: comDateTime" style="height: 2px">
                                                    <span>by User: </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span data-bind="text: comBody"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="comment-button-div-1">
                                        <button class="btn btn-info btn-sm" style="text-align:center; width:100%" data-bind="click: newComment">
                                            <i class="fa fa-comment"></i>
                                            <span>New Comment</span>
                                        </button>
                                    </div>
                                    <div id="record-comment-text-field" style="display:none; width:100%; text-align:center">
                                        <textarea id="recordCommentField" rows="10" cols="10" style="width:100%; -moz-box-sizing:border-box; box-sizing: border-box"></textarea>
                                    </div>
                                    <div id="comment-button-div-2" class="status-modal-footer" style="display:none">
                                        <button class="btn btn-primary btn-sm" style="text-align:center; width:40%" data-bind="click: $root.submitComment">
                                            <i class="fa fa-cloud"></i>
                                            <span>Submit</span>
                                        </button>
                                        <button class="btn btn-warning btn-sm" style="text-align:center; width:40%" data-bind="click: cancelComment">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div id="footerEditDisabled">
                                <button class="btn btn-warning btn-sm" data-bind="click: $root.enableEdit">Edit</button>
                                <button class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            </div>
                            <div id="footerEditEnabled">
                                <button type="button" data-bind="click: $root.cancelEdit" class="btn btn-danger btn-sm">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Note page-->
                <div id="notePage">
                    <div class="modal-header">
                        <span data-bind="with:$root.noteFromID(deployBeingEdited().noteID())">
                            <label>CL# </label>
                            <span data-bind="text: noteVisID"></span>
                        </span>
                    </div>
                    <div class="overflow-at-600">
                        <div data-bind="with: $root.noteBodyFromID(deployBeingEdited().noteID())" class="modal-body">
                            <span data-bind="html: noteBody" style="text-align: center"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-bind="click: $root.directToRecordPage" class="btn btn-sm btn-light">
                            <i class="fa fa-arrow-circle-left"></i>
                            <span>Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Delete Modal-->
    <div id="deleteModal" class="modal delete-modal" role="dialog" tabindex="-1">
            <div class="delete-modal-content">
                <!--Header-->
                <div class="delete-modal-header">
                    <span class="close" data-bind="click: $root.closeDeleteModal">&times;</span>
                    <h4>Deleting record...</h4>
                </div>
                <!--Body-->
                <div class="delete-modal-body">
                    <span class="text-center">Are you sure you want to delete this record?</span>
                </div>
                <!--Footer-->
                <div class="delete-modal-footer">
                    <button id="btnDeleteDelModal" class="btn btn-sm btn-danger" data-bind="click: $root.deleteRecord">Confirm Deletion</button>
                    <button id="btnCancelDelModal" class="btn btn-sm btn-warning" data-bind="click: $root.closeDeleteModal">Cancel</button>
                </div>
            </div>
    </div>
    <!--Quick Deploy Modal-->
    <div id="quickDeployModal" class="modal qd-modal" role="dialog" tabindex="-1">
        <div class="qd-modal-content">
            <!--Header-->
            <div class="qd-modal-header">
                <span class="close" data-bind="click: $root.closeQDModal">&times;</span>
                <h4>Quick Deploy</h4>
            </div>
            <!--Body-->
            <div class="qd-modal-body">
                <table>
                    <tr>
                        <td><label>Feature: </label></td>
                        <td><select id="qdFeature" data-bind="options: $root.feature, 
                                                                optionsText: 'feaName', 
                                                                optionsValue: 'feaID'"></select></td>
                        <td><label>Version: </label></td>
                        <td><input id="qdVersion"/></td>
                        <td><label>Environment: </label></td>
                        <td><select id="qdEnvironment" data-bind="options: $root.environment, 
                                                                    optionsText: 'envName', 
                                                                    optionsValue: 'envID'"></select></td>
                    </tr>
                </table>
            </div>
            <!--Footer-->
            <div class="qd-modal-footer">
                <button class="btn btn-sm btn-primary" data-bind="click: $root.submitQD">
                    <i class="fa fa-paper-plane"></i>
                    <span>Deploy Now</span>
                </button>
                <button class="btn btn-sm btn-secondary" data-bind="click: $root.closeQDModal">
                    <i class="fa fa-ban"></i>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
