<!DOCTYPE html>

<!--QA Page-->

<html lang="en">
<head>
    @section scripts{
        <script src="~/Scripts/knockout-3.5.1.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.timepicker.min.js"></script>
        <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
        <script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
        <script src="~/Scripts/wysiwyg.min.js"></script>
        <link href="~/App/ButtonStyles.css" rel="stylesheet" />
        <link href="~/App/TableStyles.css" rel="stylesheet" />
        <link href="~/App/ModalStyles.css" rel="stylesheet" />
        <link href="~/App/PageStyles.css" rel="stylesheet" />
        <script src="~/App/CustomBindings.js"></script>
        <script src="~/App/QAClientCode/QAJS.js"></script>
        <script src="~/App/GlobalFunctions/Data-Traversal.js"></script>
        <script src="~/App/GlobalFunctions/Caching.js"></script>
        <script src="~/App/GlobalFunctions/Notifications.js"></script>
    }
</head>
<body id="BodyContent">
    <div class="loading-class"></div>
    <!--Tables View-->
    <div id="TablesView">
        <div style="display:none">
            <span>Edit-Mode?:</span>
            <input id="ctlEditMode" type="text" data-bind="value: obsCheckEdit" />
        </div>
        <div class="loadingIndicator" data-bind="visible: loading()" id="TableDiv"></div>
        <div class="row">
            <!--Current and Queued Tables column-->
            <div class="qa-left-panel">
                
                <!------CURRENT DEPLOYS-------------------------------------------------------------------------------------------------->
                <div class="main-header">
                    <h3>Current Deploys</h3>
                </div>
                <!------Filter--------------------------------->
                <div class="filter-container" style="text-align: left">
                    <div class="filter-first">
                        <div style="text-align:left">
                            <span>Deploy Status: </span>
                            <select id="ctlCurrentType" data-bind="options: $root.typeArray,
                                                                    optionsText: 'text',
                                                                    value: $root.currentSelectedType,
                                                                    event: {change: $root.cacheCurrentType}"></select>
                        </div>
                    </div>
                    <div class="filter-second">
                        <div>
                            <span>Timespan: </span>
                            <select id="ctlCurrentTime" data-bind="options: $root.timeArray, 
                                                                    optionsText: 'text',
                                                                    value: $root.currentSelectedTime,
                                                                    event: {change: $root.cacheCurrentTime}"></select>
                        </div>
                    </div>
                    <div class="filter-third">
                        <span>Contains: </span>
                        <input style="height: 25px" />
                    </div>
                </div>
                <!------Table--------------------------------->
                <div id="TableCurrent" style="overflow-x: auto">
                    <table class="table table-striped" id="CurrentDeploysTable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th class="column3 fancy-header">Date</th>
                                <th class="fancy-header">Feature</th>
                                <th class="column2 fancy-header">Version</th>
                                <th class="fancy-header">Environment</th>
                                <th class="column1 fancy-header">Start Time</th>
                                <th class="column1 fancy-header">End Time</th>
                                <th class="fancy-header">Deploy Status</th>
                                <th class="fancy-header">Smoke Status</th>
                            </tr>
                        </thead>
                        <tbody id="TableCurrentBody" data-bind="foreach: currentDeploys().sort($root.sortByDate)" class="table">
                            <tr class="table-on-hover">
                                <!--ID field-->
                                <td style="display:none" data-bind="text: depID"></td>
                                <!--Date Field-->
                                <td class="column3" style="font-weight:bold"
                                    data-bind="dateFormatted: depStartTime,
                                               format: 'MMMM Do'"></td>
                                <!--Feature field-->
                                <td data-bind="with: featureFromID(feaID(), $root.feature()),
                                                event: { click: $root.selectRecord},
                                                css: $root.rowColor($data)">
                                    <span data-bind="text: feaName"></span>
                                </td>
                                <!--Version field-->
                                <td class="column2"
                                    data-bind="text: depVersion,
                                                event: { click: $root.selectRecord},
                                                css: $root.rowColor($data)"></td>
                                <!--Environment field-->
                                <td data-bind="with: environmentFromID(envID(), $root.environment()),
                                                event: { click: $root.selectRecord},
                                                css: $root.rowColor($data)">
                                    <span data-bind="text: envName"></span>
                                </td>
                                <!--Start Time field-->
                                <td class="column1"
                                    data-bind="timeFormatted: depStartTime,
                                                format: 'h:mm a',
                                                event: { click: $root.selectRecord},
                                                css: $root.rowColor($data)"></td>
                                <!--End Time field-->
                                <td class="column1"
                                    data-bind="timeFormatted: depEndTime,
                                                format: 'h:mm a',
                                                event: { click: $root.selectRecord},
                                                css: $root.rowColor($data)"></td>
                                <!--Deploy Status field-->
                                <td data-bind='event: { click: $root.selectRecord}, css: $root.rowColor($data)'>
                                    <i data-bind="css: $root.statusIcon($data)"></i>
                                    <span data-bind="with: statusFromID(statusID(), $root.status())">
                                        <span data-bind="text: statusName"></span>
                                    </span>
                                </td>
                                <!--Smoke Status field-->
                                <td data-bind="css: $root.rowColor($data)">
                                    <button style="font-weight: bold" data-bind="click: $root.openStatusModal, enable: $data.smokeID() !== 1" class="btn btn-sm btn-outline-dark">
                                        <i data-bind="css: $root.smokeIcon($data)"></i>
                                        <span data-bind="with: smokeFromID(smokeID(), $root.smoke())">
                                            <span data-bind="text: smokeName"></span>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divider"></div>
                <!------QUEUED DEPLOYS--------------------------------------------------------------------------------------------------->
                <div class="main-header">
                    <h3>Deploy Queue</h3>
                </div>
                <div id="TableQueue" style="overflow-x:auto">
                    <table class="table" id="DevTable">
                        <thead>
                            <tr>
                                <th class="fancy-header" style="display:none">ID</th>
                                <th class="fancy-header">Feature</th>
                                <th class="column3 fancy-header">Version</th>
                                <th class="fancy-header">Environment</th>
                                <th class="column1 fancy-header">Planned Date</th>
                                <th class="column1 fancy-header">Planned Time</th>
                                <th class="column2 fancy-header">Deploy Status</th>
                            </tr>
                        </thead>
                        <tbody id="queuedTableBody" data-bind="foreach: queuedDeploys" class="table">
                            <tr class="table table-on-hover">
                                <td style="display:none" data-bind="text: depID"></td>
                                <td data-bind="with: featureFromID(feaID(), $root.feature()), event: { click: $root.selectRecord}">
                                    <span data-bind="text: feaName"></span>
                                </td>
                                <td class="column3" data-bind="text: depVersion, event: { click: $root.selectRecord}"></td>
                                <td data-bind="with: environmentFromID(envID(), $root.environment()), event: { click: $root.selectRecord}">
                                    <span data-bind="text: envName"></span>
                                </td>
                                <td class="column1" data-bind="dateFormatted: depPlannedDateTime, format: 'MMMM DD YYYY', event: { click: $root.selectRecord}"></td>
                                <td class="column1" data-bind="timeFormatted: depPlannedDateTime, format: 'hh:mm a', event: { click: $root.selectRecord}"></td>
                                <td class="column2" data-bind="with: statusFromID(statusID(), $root.status()), event: { click: $root.selectRecord}">
                                    <span data-bind="text: statusName"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Notifications/Toasts-->
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Position it -->
        <div style="position: absolute; top: 90%; right: 90%;">
            <!-- Then put toasts within -->
            <div id="newDeployToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">New Deploy Batch</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    A new batch of deploys have been submitted. Refresh the browser to view them.
                </div>
            </div>
        </div>
    </div>
    <!--STATUS MODAL-->
    <div class="modal status-modal" id="statusModal">
        <div class="status-modal-content">
            <div class="status-modal-header" style="text-align: center">
                <h3>Select Status...</h3>
                <span class="close" data-bind="click: $root.closeModal">&times;</span>
            </div>
            <div id="mainContent" class="status-modal-body">
                <p>
                    <span>Change the SMOKE status of </span>
                    <span>
                        <span data-bind="with: featureFromID($root.selectedFeature(), $root.feature())" id="spFeature" style="text-transform: uppercase; font-weight: bold">
                            <span data-bind="text: feaName"></span>
                        </span>
                    </span>
                    <span data-bind="text: $root.selected().depVersion" id="spVersion" style="text-transform: uppercase; font-weight: bold"></span>
                </p>
                <!--Status Drop-down-->
                <select id="ctlmodalStatus"
                        data-bind="options: $root.smoke, optionsText: 'smokeName', optionsValue: 'smokeID', value: 'smokeID'"
                        onchange="checkStatus()"></select>
                <!--depID Field-->
                <p style="display: none">ID<input type="text" id="ctlmodalID" /></p>
                <!--ERROR status field-->
                <span id="errorStatusModalChange" style="text-align: center; color: red; display: none;"></span>
            </div>
            <!--Comment DIV(to become visible when status == 'Failed')-->
            <div id="commentBody" class="status-modal-comment">
                <p><span>Please enter a reason for failure</span></p>
                <textarea id="commentField" rows="10" cols="50"></textarea>
            </div>
            <div id="mainFooter" class="status-modal-footer" style="text-align: center">
                <button id="btnSubmitStatus" class="btn btn-success" data-bind="click: $root.submitStatus">Submit</button>
                <button id="btnCancel" class="btn btn-warning" data-bind="click: $root.closeModal">Cancel</button>
            </div>
        </div>
    </div>
    <!--Record Details Modal-->
    <div class="modal fade right" id="DetailsView" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <!--Record Page-->
                <div id="recordPage">
                    <!--Main Header-->
                    <div class="record-modal-header" id="recordModalHeader">
                        <span data-bind="with: featureFromID($root.selectedFeature(), $root.feature())">
                            <span data-bind="text: feaName"></span>
                        </span>
                        <span data-bind="text: selected().depVersion"></span>
                    </div>
                    <!--Deploy Status Header-->
                    <div id="statusHeader" class="record-modal-header">
                        <span>Deploy Status: </span>
                        <span data-bind="with: statusFromID($root.selectedStatus(), $root.status())" class="status-text">
                            <span data-bind="text: statusName"></span>
                        </span>
                    </div>
                    <!--Smoke Status Header-->
                    <div id="smokeHeader" class="record-modal-header">
                        <span>Smoke Status: </span>
                        <span data-bind="with: smokeFromID($root.selectedSmoke(), $root.smoke())" class="status-text">
                            <span data-bind="text: smokeName"></span>
                        </span>
                    </div>
                    <!-- Overlay content -->
                    <div class="modal-body">
                        <!--Details column-->
                        <div class="row">
                            <div id="leftColumn" class="col record-modal-col">
                                <table>
                                    <!--ID-->
                                    <tr>
                                        <td><span class="record-label">ID: </span></td>
                                        <td><span id="ctlID" data-bind="text: selected().depID" /></td>
                                    </tr>
                                    <!--Feature-->
                                    <tr>
                                        <td><span class="record-label">Feature: </span></td>
                                        <td data-bind="with: featureFromID($root.selectedFeature(), $root.feature())">
                                            <span data-bind="text: feaName"></span>
                                        </td>
                                    </tr>
                                    <!--Version-->
                                    <tr>
                                        <td><span class="record-label">Version: </span></td>
                                        <td><span id="ctlVersion" data-bind="text: selected().depVersion" /></td>
                                    </tr>
                                    <!--Environment-->
                                    <tr>
                                        <td><span class="record-label">Environment: </span></td>
                                        <td data-bind="with: environmentFromID($root.selectedEnvironment(), $root.environment())">
                                            <span id="ctlEnvironment" data-bind="text: envName" />
                                        </td>
                                    </tr>
                                    <!--Planned Date-->
                                    <tr>
                                        <td><span class="record-label">Planned Date: </span></td>
                                        <td><span id="ctlPlannedDate" data-bind="dateFormatted: selected().depPlannedDateTime, format: 'MMMM DD YYYY'" /></td>
                                    </tr>
                                    <!--Planned Time-->
                                    <tr>
                                        <td><span class="record-label">Planned Time: </span></td>
                                        <td><span id="ctlPlannedTime" data-bind="timeFormatted: selected().depPlannedDateTime, format: 'LT'" /></td>
                                    </tr>
                                    <!--Start Time-->
                                    <tr data-bind="visible: $root.startTimeVis()">
                                        <td><span class="record-label">Start Time: </span></td>
                                        <td><span id="ctlStartTime" data-bind="timeFormatted: selected().depStartTime, format: 'LT'" /></td>
                                    </tr>
                                    <!--End Time-->
                                    <tr data-bind="visible: $root.endTimeVis()">
                                        <td><span class="record-label">End Time: </span></td>
                                        <td><span id="ctlEndTime" data-bind="timeFormatted: selected().depEndTime, format: 'LT'" /></td>
                                    </tr>
                                    <!--Change Log-->
                                    <tr>
                                        <td><label class="record-label">Change-log: </label></td>
                                        <td>
                                            <button data-bind="click: $root.directToNotePage($root.selectedNote()), enable: $root.selectedNote() != null" class="btn btn-sm btn-info">
                                                <i class="fa fa-clipboard"></i>
                                                <span data-bind="visible: $root.selectedNote() != null">CL# </span>
                                                <span data-bind="with: noteFromID($root.selectedNote(), $root.note())">
                                                    <span data-bind="text: noteVisID"></span>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--Comments column-->
                            <div id="rightColumn" class="col record-modal-col">
                                <h4 style="text-align: center">Comments:</h4>
                                <table class="table-comments">
                                    <tbody data-bind="foreach: $root.commentsFiltered()">
                                        <tr class="date-time-header">
                                            <td data-bind="fullDateTime: comDateTime" style="height: 2px">
                                                <span>by User: </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span data-bind="html: comBody"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="comment-button-div-1">
                                    <button class="btn btn-info btn-sm" style="text-align:center; width:100%" data-bind="click: newComment">
                                        <i class="fa fa-comment"></i>
                                        <span>New Comment</span>
                                    </button>
                                </div>
                                <div id="record-comment-div" style="display:none; width:100%; text-align:center">
                                    <div id="recordCommentField" data-bind="wysiwyg: $root.commentBody"></div>
                                </div>
                                <div id="comment-button-div-2" class="status-modal-footer" style="display:none">
                                    <button class="btn btn-primary btn-sm" style="text-align:center; width:40%" data-bind="click: $root.submitComment">
                                        <i class="fa fa-cloud"></i>
                                        <span>Submit</span>
                                    </button>
                                    <button class="btn btn-warning btn-sm" style="text-align:center; width:40%" data-bind="click: cancelComment">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnNew btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!--Note Page-->
                <div id="notePage">
                    <div class="modal-header">
                        <span data-bind="with: noteFromID($root.selectedNote(), $root.note())" style="font-weight: bold">
                            <span>CL# </span>
                            <span data-bind="text: noteVisID"></span>
                        </span>
                    </div>
                    <div class="modal-body overflow-at-600">
                        <!--ko if: loadingBody-->
                        <div class="loading-class-for-pane"></div>
                        <!--/ko-->
                        <div>
                            <div data-bind="with: $root.noteBody()" class="modal-body">
                                <span data-bind="html: $root.noteBody().body" style="text-align: center"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-bind="click: $root.directToRecordPage" class="btn btn-sm btn-light">
                            <i class="fa fa-arrow-circle-left"></i>
                            <span>Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

