<!DOCTYPE html>

<!--QA Page-->

<html lang="en">
<head>
    @section scripts{

        <script src="~/Scripts/knockout-3.5.0.js"></script>
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/App/CustomBindings.js"></script>
        <script src="~/App/PagingMethod.js"></script>
        <script src="~/App/QAClientCode/QAJS.js"></script>
        <link href="~/App/ButtonStyles.css" rel="stylesheet" />
        <link href="~/App/TableStyles.css" rel="stylesheet" />
        <link href="~/App/ModalStyles.css" rel="stylesheet" />
        <link href="~/App/PageStyles.css" rel="stylesheet" />
    }
</head>
<body id="BodyContent">
    <div class="loading-class"></div>
    <!--Tables View-->
    <div id="TablesView">
        <div style="display:none">
            <span>Edit-Mode?:</span>
            <input id="ctlEditMode" type="text" data-bind="value: obsCheckEdit" />
        </div>
        <div class="loadingIndicator" data-bind="visible: loading()" id="TableDiv"></div>
        <div class="row">
            <!--Current and Queued Tables column-->
            <div class="qa-left-panel">
                <!------Current Deploys------------------------>
                <div class="main-header">
                    <h3>Current Deploys</h3>
                </div>
                <!------Filter--------------------------------->
                <div class="filter-tab">
                    Filter:
                    <select id="timeFilter"
                            data-bind="options: $root.timeArray,
                                        optionsText: 'text',
                                        optionsValue: 'val',
                                        value: $root.searchTime,
                                        event: { change: $root.RenderAgain }"></select>
                    <span>Total per page: </span>
                    <select id="pageFilter" data-bind="options: $root.pageFilterArray,
                                                        optionsText: 'number',
                                                        optionsValue: 'number',
                                                        value: $root.PageSize,
                                                        event: { change: $root.RenderAgain }"></select>
                    <button data-bind="event: {click: $root.testPaging}">Test Paging</button>
                </div>
                <!------Paginate------------------------------>
                <div id="current-deploy-paginate" class="paginate-div">
                    <!-- ko with:Paging()-->
                    <ul data-bind="visible: NeedPaging" class="pagination pagination-sm">
                        <li data-bind="css: { disabled: !FirstPageActive() }">
                            <button class="btn btn-sm btn-light" data-bind="click: GoToFirst">First</button>
                        </li>
                        <li data-bind="css: { disabled: !PreviousPageActive() }">
                            <button class="btn btn-sm btn-light" data-bind="click: GoToPrevious">Previous</button>
                        </li>

                        <!-- ko foreach: GetPages() -->
                        <li data-bind="css: { active: $parent.CurrentPage() === $data }">
                            <button class="btn btn-sm btn-toolbar btn-outline-info" style="font-weight:bold" data-bind="click: $parent.GoToPage, text: $data"></button>
                        </li>
                        <!-- /ko -->

                        <li data-bind="css: { disabled: !NextPageActive() }">
                            <button class="btn btn-sm btn-light" data-bind="click: GoToNext">Next</button>
                        </li>
                        <li data-bind="css: { disabled: !LastPageActive() }">
                            <button class="btn btn-sm btn-light" data-bind="click: GoToLast">Last</button>
                        </li>
                    </ul>
                    <!-- /ko -->
                </div>
                <!------Table--------------------------------->
                <div id="TableCurrent" style="overflow-x: auto">
                    <table class="table table-striped" id="CurrentDeploysTable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>Date</th>
                                <th>Feature</th>
                                <th class="column3">Version</th>
                                <th>Environment</th>
                                <th class="column1">Start Time</th>
                                <th class="column1">End Time</th>
                                <th class="column2">Status</th>
                            </tr>
                        </thead>
                        
                        <tbody data-bind="foreach: $root.PagaData.sort(function (l, r) { return (l.depEndTime() == r.depEndTime()) ? (l.depEndTime() < r.depEndTime() ? 1 : -1) : (l.depStartTime() < r.depStartTime() ? 1 : -1) })" class="table">
                            <tr class="table-on-hover">
                                <!--ID field-->
                                <td style="display:none" data-bind="text: $data.depID"></td>
                                <!--Date Field-->
                                <td style="font-weight:bold" data-bind="text: $data.formattedDate"></td>
                                <!--Feature field-->
                                <td data-bind="text: $data.depFeature,
                                                event: { click: $root.selectRecord},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Version field-->
                                <td class="column3"
                                    data-bind="text: $data.depVersion,
                                                event: { click: $root.selectRecord},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Environment field-->
                                <td data-bind="text: $data.depEnvironment,
                                                event: { click: $root.selectRecord},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Start Time field-->
                                <td class="column1"
                                    data-bind="timeFormatted: $data.depStartTime,
                                                format: 'h:mm a',
                                                event: { click: $root.selectRecord},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--End Time field-->
                                <td class="column1"
                                    data-bind="timeFormatted: $data.depEndTime,
                                                format: 'h:mm a',
                                                event: { click: $root.selectRecord},
                                                css: { 'css-deploying': depStatus() === 'Deploying',
                                                        'css-failed': depStatus() === 'Failed',
                                                        'css-completed': depStatus() === 'Completed'}"></td>
                                <!--Status field-->
                                <td class="column2"
                                    data-bind='text: $data.depStatus,
                                                event: { click: $root.selectRecord},
                                                css: { "css-deploying": depStatus() === "Deploying",
                                                        "css-failed": depStatus() === "Failed",
                                                        "css-completed": depStatus() === "Completed"}'></td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>

                <!------Queued Deploys------------------------->
                <div class="main-header">
                    <h3>Queued Deploys</h3>
                </div>
                <div class="filter-tab">Filter:</div>
                <div id="TableQueue" style="overflow-x:auto">
                    <table class="table" id="DevTable" data-bind="visible: !loading()">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>Feature</th>
                                <th class="column3">Version</th>
                                <th>Environment</th>
                                <th class="column1">Planned Date</th>
                                <th class="column1">Planned Time</th>
                                <th class="column2">Status</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: queuedDeploys().sort(function (l, r) { return (l.depPlannedTime() == r.depPlannedTime()) ? (l.depPlannedDate() < r.depPlannedDate() ? 1 : -1) : (l.depPlannedTime() < r.depPlannedTime() ? 1 : -1) })" class="table">
                            <tr data-bind="template: {name: 'read-template-q', data: $data }" class="table table-on-hover"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Smoke queue TAB-->
            <div id="smokeTab" class="smoke-panel-tab">
                <button data-bind="click: toggleSmokeWindow" class="btn btn-sm btn-light">
                    <i id="smokeToggleButton" class="fa fa-angle-right" style="width:100%"></i>
                </button>
            </div>
            <!--Smoke queue column-->
            <div id="smokeWindow" class="qa-smoke-panel">
                <div class="smoke-panel-header main-header">
                    <h3>Smoke Queue</h3>
                </div>
                <br />
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>Feature</th>
                                <th>Version</th>
                                <th>Environment</th>
                                <th>Smoke Status</th>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: smokeDeploys()">
                            <tr data-bind="template: { name: 'read-template-s', data: $data }" class="table table-on-hover"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-------CURRENT TABLE TEMPLATES-------->
        <!--Read Template----------------------->
        <script id="read-template-c" type="text/html">
            <!--ID field-->
            <td style="display:none" data-bind="text: depID"></td>
            <!--Feature field-->
            <td data-bind="text: depFeature,
                        event: { click: $root.selectRecord},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Version field-->
            <td class="column3"
                data-bind="text: depVersion,
                        event: { click: $root.selectRecord},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Environment field-->
            <td data-bind="text: depEnvironment,
                        event: { click: $root.selectRecord},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Start Time field-->
            <td class="column1"
                data-bind="timeFormatted: depStartTime,
                        format: 'h:mm a',
                        event: { click: $root.selectRecord},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--End Time field-->
            <td class="column1"
                data-bind="timeFormatted: depEndTime,
                        format: 'h:mm a',
                        event: { click: $root.selectRecord},
                        css: { 'css-deploying': depStatus() === 'Deploying',
                                'css-failed': depStatus() === 'Failed',
                                'css-completed': depStatus() === 'Completed'}"></td>
            <!--Status field-->
            <td class="column2"
                data-bind='text: depStatus,
                        event: { click: $root.selectRecord},
                        css: { "css-deploying": depStatus() === "Deploying",
                                "css-failed": depStatus() === "Failed",
                                "css-completed": depStatus() === "Completed"}'></td>
        </script>
        <!--Date Group Template-->
        <script id="read-template-c-date" type="text/html">
            <td data-bind="text: formattedDate" style="font-size: large; font-weight: 700"></td>
        </script>

        <!-------QUEUED TABLE TEMPLATES--------->
        <!--Read Template----------------------->
        <script id="read-template-q" type="text/html">
            <td style="display:none" data-bind="text: depID"></td>
            <td data-bind="text: depFeature, event: { click: $root.selectRecord}"></td>
            <td class="column3" data-bind="text: depVersion, event: { click: $root.selectRecord}"></td>
            <td data-bind="text: depEnvironment, event: { click: $root.selectRecord}"></td>
            <td class="column1" data-bind="dateFormatted: depPlannedDate, format: 'MMMM DD YYYY', event: { click: $root.selectRecord}"></td>
            <td class="column1" data-bind="timeFormatted: depPlannedTime, format: 'LT', event: { click: $root.selectRecord}"></td>
            <td class="column2" data-bind="text: depStatus, event: { click: $root.selectRecord}"></td>
        </script>

        <!-------SMOKE TABLE TEMPLATES-->
        <script id="read-template-s" type="text/html">
            <td style="display:none" data-bind="text: depID"></td>
            <!--Feature field-->
            <td data-bind="text: depFeature, 
                            event: { click: $root.selectRecord},
                            css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                    'css-smoke-conditional': depSmoke() === 'Conditional',
                                    'css-smoke-fail': depSmoke() === 'Fail'}"></td>
            <!--Version field-->
            <td data-bind="text: depVersion,
                            event: { click: $root.selectRecord},
                            css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                    'css-smoke-conditional': depSmoke() === 'Conditional',
                                    'css-smoke-fail': depSmoke() === 'Fail'}"></td>
            <!--Environment field-->
            <td data-bind="text: depEnvironment,
                            event: { click: $root.selectRecord},
                            css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                    'css-smoke-conditional': depSmoke() === 'Conditional',
                                    'css-smoke-fail': depSmoke() === 'Fail'}"></td>
            <!--Smoke field-->
            <td data-bind="text: depSmoke,
                            event: { click: $root.selectRecord},
                            css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                    'css-smoke-conditional': depSmoke() === 'Conditional',
                                    'css-smoke-fail': depSmoke() === 'Fail'}"></td>
            <!--Button field-->
            <td data-bind="css: { 'css-smoke-pass': depSmoke() === 'Pass',
                                    'css-smoke-conditional': depSmoke() === 'Conditional',
                                    'css-smoke-fail': depSmoke() === 'Fail'}">
                <button class="btn btn-sm btn-primary" data-bind="click: $root.openModal">
                    <i class="fa fa-tasks"></i>
                    <span>Update Status</span>
                </button>
            </td>
        </script>
    </div>
    <!--Notifications/Toasts-->
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <!-- Position it -->
        <div style="position: absolute; top: 90%; right: 90%;">
            <!-- Then put toasts within -->
            <div id="newDeployToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded mr-2" alt="...">
                    <strong class="mr-auto">New Deploy Batch</strong>
                    <small class="text-muted">just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    A new batch of deploys have been submitted. Refresh the browser to view them.
                </div>
            </div>
        </div>
    </div>
    <!--STATUS MODAL-->
    <div class="modal status-modal" id="statusModal">
        <div class="status-modal-content">
            <div class="status-modal-header" style="text-align: center">
                <h3>Select Status...</h3>
                <span class="close" data-bind="click: $root.closeModal">&times;</span>
            </div>
            <div id="mainContent" class="status-modal-body">
                <p>
                    <span>Change the SMOKE status of </span>
                    <span id="spFeature" style="text-transform: uppercase; font-weight: bold"></span>
                    <span></span>
                    <span id="spVersion" style="text-transform: uppercase; font-weight: bold"></span>
                </p>
                <!--Status Drop-down-->
                <select id="ctlmodalStatus"
                        data-bind="options: $root.smoke, optionsText: 'tmpSmoke', optionsValue: 'tmpSmoke'"
                        onchange="checkStatus()"></select>

                <!--depID Field-->
                <p style="display: none">ID<input type="text" id="ctlmodalID" /></p>
                <!--ERROR status field-->
                <span id="errorStatusModalChange" style="text-align: center; color: red; display: none;"></span>

                <!--Smoke Drop-down-->
                <div id="smoke-div" style="display:none" class="status-modal-body">
                    <br />
                    <span>Ready for smoke pass?</span>
                    <br />
                    <select id="ctlSmokeStatus" data-bind="options: $root.smoke, optionsText: 'tmpSmoke', optionsValue: 'tmpSmoke'"></select>
                </div>
            </div>
            <!--Comment DIV(to become visible when status == 'Failed')-->
            <div id="commentBody" class="status-modal-comment" style="display: none">
                <p><span>Please enter a reason for failure</span></p>
                <textarea id="commentField" rows="10" cols="50"></textarea>
            </div>
            <div id="mainFooter" class="status-modal-footer" style="text-align: center">
                <button id="btnSubmitStatus" class="btn btn-success" data-bind="click: $root.submitStatus">Submit</button>
                <button id="btnCancel" class="btn btn-warning" data-bind="click: $root.closeModal">Cancel</button>
            </div>
        </div>
    </div>
    <!--Record Details Modal-->
    <div class="modal fade right" id="DetailsView" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 style="text-align: center">Deploy Details</h2>
                    <!-- Button to close the overlay navigation -->
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Overlay content -->
                <div class="modal-body">
                    <!--Details column-->
                    <div class="row">
                        <div id="leftColumn" class="col record-modal-col">
                            <div>
                                <h5>ID: </h5>
                                <input id="ctlID" type="text" data-bind="value: selected().depID" disabled />
                            </div>
                            <div>
                                <span class="record-label">Feature: </span>
                                <span data-bind="text: selected().depFeature"></span>
                            </div>
                            <div>
                                <span class="record-label">Version: </span>
                                <input id="ctlVersion" type="text" data-bind="value: selected().depVersion" disabled />
                            </div>
                            <div>
                                <span class="record-label">Environment: </span>
                                <input id="ctlEnvironment" type="text" data-bind="value: selected().depEnvironment" disabled />
                            </div>
                            <div>
                                <span class="record-label">Planned Date: </span>
                                <input id="ctlPlannedDate" type="text" data-bind="dateFormatted: selected().depPlannedDate, format: 'MMMM DD YYYY'" disabled />
                            </div>
                            <div>
                                <span class="record-label">Planned Time: </span>
                                <input id="ctlPlannedTime" type="text" data-bind="timeFormatted: selected().depPlannedTime, format: 'LT'" disabled />
                            </div>
                            <div>
                                <span class="record-label">Start Time: </span>
                                <input id="ctlStartTime" type="text" data-bind="timeFormatted: selected().depStartTime, format: 'LT'" disabled />
                            </div>
                            <div>
                                <span class="record-label">End Time: </span>
                                <input id="ctlEndTime" type="text" data-bind="timeFormatted: selected().depEndTime, format: 'LT'" disabled />
                            </div>
                            <div>
                                <span class="record-label">Status: </span>
                                <input id="ctlStatus" type="text" data-bind="value: selected().depStatus" disabled />
                            </div>
                        </div>
                        <!--Comments column-->
                        <div id="rightColumn" class="col record-modal-col">
                            <h4 style="text-align: center">Comments:</h4>
                            <table class="table-comments">
                                <tbody data-bind="foreach: commentsFiltered">
                                    <tr class="date-time-header">
                                        <td data-bind="fullDateTime: comDateTime" style="height: 2px">
                                            <span>by User: </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span data-bind="text: comBody"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="comment-button-div-1">
                                <button class="btn btn-info btn-sm" style="text-align:center; width:100%" data-bind="click: newComment">
                                    <i class="fa fa-comment"></i>
                                    <span>New Comment</span>
                                </button>
                            </div>
                            <div id="record-comment-text-field" style="display:none; width:100%; text-align:center">
                                <textarea id="recordCommentField" rows="10" cols="10" style="width:100%; -moz-box-sizing:border-box; box-sizing: border-box"></textarea>
                            </div>
                            <div id="comment-button-div-2" class="status-modal-footer" style="display:none">
                                <button class="btn btn-primary btn-sm" style="text-align:center; width:40%" data-bind="click: $root.submitComment">
                                    <i class="fa fa-cloud"></i>
                                    <span>Save</span>
                                </button>
                                <button class="btn btn-warning btn-sm" style="text-align:center; width:40%" data-bind="click: cancelComment">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnNew btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

